*/.ipynb_checkpoints
*/model
*/data
datasets
f0_reaper/alignment
*.lock
*/images_depr/
*/outputs/
DeepLearning*
emotion_bert/outputs_previous.tar.xz

__pycache__/

mod_fp/context-aware-tts/fp_bl_emotion/
mod_fp/context-aware-tts/fp_bl_sentiment/
mod_fp/context-aware-tts/fp_lj_emotion/
mod_fp/context-aware-tts/fp_lj_sentiment/

mod_fp/context-aware-tts/fp_bl_emotion_completed/
mod_fp/context-aware-tts/fp_bl_sentiment_completed/
mod_fp/context-aware-tts/fp_lj_emotion_completed/
mod_fp/context-aware-tts/fp_lj_sentiment_completed/
